CONFIG_UK_NAME="app-iperf3"

# Architectural stuff
CONFIG_ARCH_ARM_64=y
CONFIG_PLAT_KVM=y
CONFIG_KVM_BOOT_PROTO_QEMU_VIRT=y
# CONFIG_LIBUKINTCTLR_GICV2 is not set
CONFIG_LIBUKINTCTLR_GICV3=y
CONFIG_LIBSYSCALL_SHIM_LEGACY_VERBOSE=n

# Disable HWRNG, ava-1 CPU doesn't support it
CONFIG_LIBUKRANDOM_LCPU=n
CONFIG_LIBUKRANDOM_DTB_SEED=n
# This avoid crashes resulted from reseeding
CONFIG_LIBUKRANDOM_RESEED=n

# Enable iperf3
CONFIG_LIBIPERF3=y
CONFIG_LIBIPERF3_MAIN_FUNCTION=y
# Embed a rootfs so that iperf3 can access /tmp
CONFIG_LIBPOSIX_VFS_FSTAB=y
CONFIG_LIBPOSIX_VFS_FSTAB_EINITRD=y
CONFIG_LIBPOSIX_VFS_FSTAB_EINITRD_PATH="<<PWD>>/rootfs-iperf3.cpio"
CONFIG_LIBPOSIX_VFS_FSTAB_BUILTIN=y
CONFIG_LIBPOSIX_VFS_FSTAB_BUILTIN_EINITRD=y

# VSOCK
CONFIG_LIBUKVSOCKDEV=y
CONFIG_LIBVIRTIO_VSOCK=y
CONFIG_LIBVIRTIO_MMIO=y

# Debugging - set logger level to info
# CONFIG_LIBUKPRINT_KLVL_INFO=y

